<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .header{
            background-color: red;
            height: 100px;
            text-align: center;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            font-size: 28px;
            color: white;
            font-family:Verdana;
            vertical-align:middle;
        }

        .footer{
            background-color: red;
            height: 100px;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 28px;
            color: white;
            font-family:Verdana;
            vertical-align:middle;

        }

        .middleContainer{
            margin-top: 100px;
            height: auto;
            width: 100%;
            background-color: ghostwhite;

        }

        .leftInContainer{
            width: 10%;
            float: left;
        }

        .rightInContainer{
            float: left;
            width: 90%;
        }

        .menuButton{
            height: 50px;
            width: 100%;
            text-align: center;
            background-color: ghostwhite;
        }



    </style>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
<div class="header">
    Races API
</div>
<div class="middleContainer">
    <div class="leftInContainer">
        <a href="/home">
            <div class ="menuButton" >
                Home
            </div>
        </a>
        <a href="/races">
            <div class ="menuButton" >
                Races
            </div>
        </a>
        <a href="/cafes">
            <div class ="menuButton" >
                Cafes
            </div>
        </a>

        <a href="/documentation">
            <div class ="menuButton" >
                Documentatie
            </div>
        </a>

    </div>

    <div class ="rightInContainer">
        <table>
            <tr>
                <th>URL</th>
                <th>HTTP Verb</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>/cafes/</td>
                <td>GET</td>
                <td>Return all cafes</td>
            </tr>
            <tr>
                <td>/cafes/</td>
                <td>POST</td>
                <td>Add a cafe</td>
            </tr>
            <tr>
                <td>/cafes/:id</td>
                <td>GET</td>
                <td>Return a single cafe</td>
            </tr>
            <tr>
                <td>/cafes/:id</td>
                <td>PUT</td>
                <td>Edit a single cafe</td>
            </tr>
            <tr>
                <td>/cafes/:id</td>
                <td>DELETE</td>
                <td>Delete a single cafe</td>
            </tr>
            <tr>
                <td>/cafes/name/:name</td>
                <td>GET</td>
                <td>Return a single cafe by name</td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>/races/</td>
                <td>GET</td>
                <td>Return all races</td>
            </tr>
            <tr>
                <td>/races/</td>
                <td>POST</td>
                <td>Add a race</td>
            </tr>
            <tr>
                <td>/races/:id</td>
                <td>GET</td>
                <td>Return a single race</td>
            </tr>
            <tr>
                <td>/races/:id</td>
                <td>PUT</td>
                <td>Edit a single race</td>
            </tr>
            <tr>
                <td>/races/:id</td>
                <td>DELETE</td>
                <td>Delete a single race</td>
            </tr>
            <tr>
                <td>/races/name/:name</td>
                <td>GET</td>
                <td>Return a single race by name</td>
            </tr>
            <tr>
                <td>/races/:id/cafes</td>
                <td>GET</td>
                <td>Return cafes from race</td>
            </tr>
            <tr>
                <td>/races/:id/users</td>
                <td>GET</td>
                <td>Return users from race</td>
            </tr>
        </table>
    </div>

</div>

<div class="footer">
    Races API
</div>

</body>
</html>
